@tailwind base;
@tailwind components;
@tailwind utilities;

.chat {
  transition: .20s;
  box-shadow: -10px 10px #DF8AFD;
}

.chat:hover {
  transition: .12s;
  box-shadow: -12.5px 12.5px #DF8AFD;
}

.contact {
  transition: .20s;
  box-shadow: -10px 10px #DF8AFD;
}

.contact:hover {
  transition: .12s;
  box-shadow: -12.5px 12.5px #DF8AFD;
}

